*{
    padding:0;
    margin:0  
}

@font-face{
       
    
}

.container{
    
   height:100vh;
   display: flex;
    
}

section{
    
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    
    
    
    flex:1;
    
}

section:hover{
    flex: 2;
    transition: all .5s ease-in-out;
    
}

.history{
    
    background-image: url("https://cdn.pixabay.com/photo/2018/12/12/10/21/cognac-3870510_960_720.jpg");
    
    
    opacity: 0.3;
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    
     transition: all .5s ease-in-out;
    
    
}

.history:hover{
    
    opacity:1;
    transition: all .5s ease-in-out;
}

 


.main{
    
    background-image: url("https://images.pexels.com/photos/3279685/pexels-photo-3279685.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
 
    flex:2;
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;
    
     transition: all .5s ease-in-out;
    
    
}

.main:hover{
    
    flex:3;
    transition: all .5s ease-in-out;
}

.contact{
    background-image: url("https://images.pexels.com/photos/279009/pexels-photo-279009.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    opacity: 0.3;
    
    background-size: cover;
    background-position:center;
    background-blend-mode: multiply;   
    

     transition: all .5s ease-in-out;
     

}

.contact:hover{
    
    opacity:1;
      transition: all .5s ease-in-out;
    
}

h1{

    font-family:serif;
    font-style: oblique;
    font-size: 44;
    opacity: 0.8;
    
    position: relative;
     
    text-shadow: 2px 2px 4px #FFFFFF;
    
}



h1:hover{
    
      color: ghostwhite;
      opacity: 0.9;
    
      transition: all .5s ease-in-out;
    
       text-shadow: 2px 2px 4px #000000;
        
}


 

