*{
    margin:0;
    padding:0;  
    
}

p{
    
    padding-left:100px;
    padding-right:100px;
    text-shadow: 2px 2px 4px #000000;
}

img{
    padding-left:100px;
    
}
#locationbody{
    
    background-image: url("https://media.gettyimages.com/videos/players-checking-hole-cards-video-id164185906?s=640x640");
    height:100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

#tournamentbody{
    
    background-image: url("https://media.gettyimages.com/videos/dealing-poker-cards-video-id164185893?s=640x640");
    height:100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
}

#historybody{
    
      background-image: url("   https://images.unsplash.com/photo-1561050864-6c3c0f49d421?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=636&q=80");
    height:100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    

}

 
 
body{
    
        background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fil2.picdn.net%2Fshutterstock%2Fvideos%2F4154698%2Fthumb%2F3.jpg&f=1&nofb=1");
    height:100vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
    
}


#learnToPlay{
    
    color:white;
    text-align: center;
    padding-top: 60px;
    font-size: 50;
    
}

#sectionlearn{
    
    color:white;
    text-align:center;
    padding-top:60px;
       
}

#moreinfo{
    
    color:white;
    text-align:center;
    padding-top:60px;
       
    
}

h2{
    
    text-align: center;
}

.basics{
    padding-left: 60px;
    padding-right: 60px;
    
}




.index{
    
    float:right;
    list-style:none;   
}

.index li{
    display: inline-block;
    
}

.index li a{

    color:white;
    text-decoration:none;

    padding: 50px 20px;
    font-family:serif;
    font-style: oblique;
    
   
}

.index li a:hover{
    
    text-shadow: 2px 2px 4px #FFFFFF;
 
    
}

.explanations{
    
    color:white;
    text-align:center;
}

.socialmedia{
    background-color: rbga(0,0,0,0.6);
   
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    
    
}
 
#socialmediatags{
    
    font-family:monospace; 
    color:white;
  
}

#copyright{
 
    font-family:monospace; 
    color:white;
    
    float:right;
    display: inline-block;
    
    padding-right: 600px;
    
}